// colors

$primary-red: hsl(0, 100%, 74%);
$primary-green: hsl(154, 59%, 51%);

$accent-blue: hsl(248, 32%, 49%);

$neutral-dark-blue: hsl(249, 10%, 26%);
$neutral-grayish-blue: hsl(246, 25%, 77%);

// layouts

$mobile: 375px;
$desktop: 1440px;

// font weights

$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// border radius
$border-radius: 5px;